<div class="opportunity panel radius" data-expandable>
  <div class="pack pack-middle">
    <div class="pack-item opportunity-avatar">
      <img src="http://placehold.it/300x300" alt="User avatar" />
    </div>
    <div class="pack-item">
      <h5><%= giving_back.position %></h5>
      <time pubdate datetime="<%= giving_back.created_at.to_formatted_s(:pubdate) %>" class="opportunity-date"><%= giving_back.created_at.to_formatted_s(:human) %></span>
    </div>
  </div>
  <div class="expand">
    <p class="opportunity-description"><%= giving_back.description %></p>
    <hr />
    <h6>Requirements</h6>
    <p class="opportunity-requirements"><%= giving_back.requirements %></p>
  </div>
</div>
