<div class="row">
  <div class="large-12 columns">
  <h1>Login Edit</h1><br>

  <strong>Name: </strong><br><span style="margin-left:2em"><%= @login.first_name.camelize%> <%= @login.middle_initial.upcase%> <%= @login.last_name.camelize%></span><br>
  <strong>Email: </strong><br><span style="margin-left:2em"><%= @login.email.upcase%></span><br>
  <strong>Address: </strong><br>
    <%if (defined? @user.city)%>
    <span style="margin-left:2em"><%= @user.street.camelize%></span><br>
    <span style="margin-left:2em"><%= @user.city.camelize%>, <%= @user.state.camelize%>  <%= @user.zip%></span><br><br>
  <% else %>
     <span style="margin-left:2em"><strong>Not Found</strong><br><br><br>
  <% end %>

  <strong>Username: </strong><%= @login.username.upcase%><br>
  <strong>Type: </strong><%= @login.type.upcase%>  <br><br>

<%= form_for :login, url: login_path(@login), method: :patch do |f| %>

  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@login.errors.count, "error") %> prohibited
        this login from being saved:
      </h2>
      <ul>
        <% @login.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="large-2">
<p>
    <%= f.label :First_name %>
    <%= f.text_field :first_name%>

    <%= f.label :Middle_Initial%>
    <%= f.text_field :middle_initial%>

    <%= f.label :Last_name %>
    <%= f.text_field :last_name%>

    <!DOCTYPE%= f.label :Email %>
    <!DOCTYPE%= f.text_field :email%>

    <!DOCTYPE%= f.label :User_name %>
    <!DOCTYPE%= f.text_field :username%>

    <!DOCTYPE%= f.label :Password %>
    <!DOCTYPE%= f.text_field :password%>

    <%= f.label :Type %>
    <%= f.select :type, [['User', 'user'], ['Admin', 'admin'], ['Worker', 'worker']]%>
</p>
 </div>
  <p>
    <%= f.submit %>
  </p>

<% end %>
  </div>
  </div>
