<dl class="tabs" data-tab data-options="deep_linking: true">
  <dd>
    <%= link_to 'List', controller: 'logins' %>
  </dd>
  <dd>
    <%= link_to 'Add', new_login_path %>
  </dd>
</dl>
<br>
<p>
  <strong>Name: </strong><%= @login.first_name%> <%= @login.middle_initial.upcase%> <%= @login.last_name%><br>
  <strong>Username: </strong><%= @login.username.upcase%><br>
  <strong>Password: </strong><%= @login.password%>  <br>
  <strong>Type: </strong><%= @login.type%>  <br>
</p>
