<div class="row">
  <div class="field">
    <div class="large-3 small-3 columns">
      <%= f.attribute_fields do |a| %>
        <%= a.attribute_select associations: :user %>
      <% end %>
    </div>
    <div class="large-3 small-3 columns">
      <%= f.predicate_select %>
    </div>
    <div class="large-3 small-3 columns">
      <%= f.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    </div>
    <div class="large-3 small-3 columns">
    <%= link_to "remove", '#', class: "remove_fields" %>
    </div>
  </div>
</div>
