<%= search_form_for @search, url: search_searchadmins_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <% for i in 0..3 %>
      <%= render "condition_fields", f: c %>
    <% end %>
  <% end %>
  <p>
    <%= link_to_add_fields "Add Conditions", f, :condition, class: "button" %>
  </p>
  <%= f.submit "search", :class => "button" %>
<% end %>

<%= render 'results' %>
