<dl class="tabs" data-tab data-options="deep_linking: true">
  <dd>
    <%= link_to 'List', controller: 'logins' %>
  </dd>
  <dd>
    <%= link_to 'Add', new_login_path %>
  </dd>
</dl>
 <br>
 
<%= form_for :login, url: login_path(@login), method: :patch do |f| %>
 
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@login.errors.count, "error") %> prohibited
        this login from being saved:
      </h2>
      <ul>
        <% @login.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="large-2">
<p>
    <%= f.label :First_name %>
    <%= f.text_field :First_name%>

    <%= f.label :Middle_Initial%>
    <%= f.text_field :mi%>

    <%= f.label :Last_name %>
    <%= f.text_field :Last_name%>

    <%= f.label :User_name %>
    <%= f.text_field :User_name%>

    <%= f.label :Password %>
    <%= f.text_field :Password%>

    <%= f.label :Type %>
    <%= f.select :Type, [['User', 'user'], ['Admin', 'admin'], ['Super User', 'SU']]%>
</p>
 </div>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>


