<dl class="tabs" data-tab data-options="deep_linking: true">
  <dd>
    <%= link_to 'List', controller: 'logins' %>
  </dd>
  <dd>
    <%= link_to 'Add', new_login_path %>
  </dd>
</dl>
<br>
<p>
  <strong>Name: </strong><%= @login.First_name%> <%= @login.mi.upcase%> <%= @login.Last_name%><br>
  <strong>Username: </strong><%= @login.User_name.upcase%><br>
  <strong>Password: </strong><%= @login.Password%>  <br>
  <strong>Type: </strong><%= @login.Type%>  <br>
</p>