<h1>Editing users</h1>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
    <%= f.label :First_name %><br>
    <%= f.text_field :First_name%>
</p>

<p>
    <%= f.label :mi %><br>
    <%= f.text_field :mi%>
</p>

<p>
    <%= f.label :Last_name %><br>
    <%= f.text_field :Last_name%>
</p>

<p>
    <%= f.label :User_name %><br>
    <%= f.text_field :User_name%>
</p>

<p>
    <%= f.label :Password %><br>
    <%= f.text_field :Password%>
</p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', user_path %>
