<% # Author: Brad Bilter, edited by Maxwell Barvian %>
<!--RESTful action INDEX -->
<div class="row">
  <div class="large-12 columns">
    <div class="clearfix">
      <%= link_to 'New Account', new_admin_login_path, class: 'new small success right radius button' %>
      <h1>Account Manager</h1>
    </div>
    <!--Class pretty pulls sort icons-->
    <table class="sortable">
      <thead>
        <tr><!--Table header - sortable defined in application_helper.rb, allows sortable column headers-->
          <th><%= sortable "first_name", "First Name" %></th>
          <th width="1"><%= sortable "middle_initial", "Middle Initial" %></th>
          <th><%= sortable "last_name", "Last Name" %></th>
          <th><%= sortable "type", "Type" %></th>
          <th><%= sortable "updated_at", "Last Updated" %></th>
          <th width="1"></th>
        </tr>
      </thead>
      <tbody>
        <% # Loop through logins %>
        <% @login.each do |f| %>
          <tr data-clickable="<%= admin_login_path(f) %>">
            <td><%= f.first_name.camelize %></td>
            <td><%= f.middle_initial.upcase %></td>
            <td><%= f.last_name.camelize %></td>
            <td><%= f.type.upcase %></td>
            <td><%= f.updated_at.to_s(:date_format) %></td>
            <td>
              <ul class="button-group actions">
                <li>
                  <%= link_to edit_admin_login_path(f), title: 'Edit', class: 'small icon button' do %>
                    <i class="fi-pencil"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_login_path(f), method: :delete, title: 'Delete', data: { confirm: "Are you sure?" }, class: 'small alert icon button' do %>
                    <i class="fi-x"></i>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
