<%= form_for :giving_back, url: giving_back_index_path do |f| %>
  <%= f.hidden_field :type, value: :mentoring %>

  <div class="row">
    <div class="small-8 small-centered columns">
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :subject, class: 'right inline' %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :subject %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :position, class: 'right inline' %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :position %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :description, class: 'right inline' %>
        </div>
        <div class="small-9 columns">
          <%= f.text_area :description, rows: 6 %>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-push-3 columns">
          <%= f.submit 'Submit opportunity', class: 'success button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
