<h1>New User</h1>

<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :"First Name" %>
    <%= f.text_field :First_name%><br>
    <%= f.label :"Middle Initial" %>
    <%= f.text_field :mi%><br>
    <%= f.label :"Last Name" %>
    <%= f.text_field :Last_name%><br>
    <%= f.label :"User Name" %>
    <%= f.text_field :User_name%><br>
    <%= f.label :"Password" %>
    <%= f.text_field :Password%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'User List', controller: 'users' %><br>
<%= link_to 'Main', controller: 'welcome' %><br>
