<div class="row">
  <div class="medium-10 large-8 small-centered columns">
    <div class="filter-bar">
      <span class="filter-bar-label">Show:</span>
      <ul class="filter-bar-filters">
        <li class="<%= 'active' if current_page?(admin_giving_back_index_path) %>">
          <%= link_to 'New', admin_giving_back_index_path %>
        </li>
        <li class="<%= 'active' if current_page?(completed_admin_giving_back_index_path) %>">
          <%= link_to 'Completed', completed_admin_giving_back_index_path %>
        </li>
        <li class="<%= 'active' if current_page?(hidden_admin_giving_back_index_path) %>">
          <%= link_to 'Hidden', hidden_admin_giving_back_index_path %>
        </li>
      </ul>
    </div>
    <% unless @opportunities.blank? %>
      <% @opportunities.each do |giving_back| %>
        <%= render giving_back %>
      <% end %>
    <% else %>
      <%= render 'shared/empty', message: "No opportunities." %>
    <% end %>
  </div>
</div>
