<!-- Created by Brett Bush -->
<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Survey Completion</h3>
  <p>Display completion results of survey participants.</p>
  <%= hidden_field_tag(:report_id, 9) %>
  <%= hidden_field_tag(:report_name, "Survey Completion") %>
  <%= label_tag(:survey_select, 'Select a survey: ') %>
  <%= select_tag(:survey_select, (options_from_collection_for_select(Survey.all, :id, :survey_name))) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
