<!-- Created by Brett Bush -->
<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Survey Taken</h3>
  <p>Make a list of users who have taken a particular survey.</p>
  <%= hidden_field_tag(:report_id, 5) %>
  <%= hidden_field_tag(:report_name, "Survey Taken") %>
  <%= label_tag(:survey_select, 'Select a survey: ') %>
  <%= select_tag(:survey_select, options_from_collection_for_select(Survey.all, :id, :survey_name)) %>
  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, (options_from_collection_for_select(SavedList.where("login_id = ?", session[:user_id]), :id, :list_name)), {:include_blank => 'All Users'}) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
