<!-- Created by Brett Bush -->
<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Graduation Class Year</h3>
  <p>Make a list of users by their graduating class year.</p>
  <%= hidden_field_tag(:report_id, 3) %>
  <%= hidden_field_tag(:report_type, "Graduation Class Year") %>
  <%= label_tag(:year_graduated, 'Graduation year:') %>
  <%= select_year(Date.today, field_name: 'year_graduate', start_year: Date.today.year, end_year: 1960) %>
  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, (options_from_collection_for_select(SavedList.where("login_id = ?", session[:user_id]), :id, :list_name)), {:include_blank => 'All Users'}) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
