<button type="button" class="button small noprint" onclick="toggle_saved_list_form();">Save List</button>
<div id="saved_list_form" class="noprint" style="display: none;">
  <%= form_tag("/saved_lists/create", method:"post") do %>
    <h3>Create Saved List</h3>
    <p>Make a list of users by their employer name.</p>
    <%= label_tag(:list_name, 'Saved list name:') %>
    <%= text_field_tag(:list_name) %>
    <%= submit_tag('Submit', :class => 'button') %>
    <% @users.each do |user| %>
      <%= hidden_field_tag "user_ids[]", user.id %>
    <% end %>
    <%= hidden_field_tag(:login_id, current_login.id) %>
    <%= hidden_field_tag(:date_saved, Time.zone.now.beginning_of_day) %>
  <% end %>
</div>
