<!-- Created by Brett Bush -->
<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Graduate Degree Program</h3>
  <p>Make a list of users by their graduate degree program.</p>
  <%= hidden_field_tag(:report_id, 4) %>
  <%= hidden_field_tag(:report_name, "Graduate Degree Program") %>
  <%= label_tag(:survey_select, 'Select a program: ') %>
  <%= select_tag(:survey_select, options_for_select([['Select a program', 0], ['Accounting', 1], ['Computer Science', 2]], 0)) %>
  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, (options_from_collection_for_select(SavedList.where("login_id = ?", session[:user_id]), :id, :list_name))) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
