<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Employer Name</h3>
  <p>Make a list of users by their employer name.</p>
  <%= hidden_field_tag(:report_id, 2) %>
  <%= hidden_field_tag(:report_name, "Employer Name") %>
  <%= label_tag(:employer_name, 'Employer name:') %>
  <%= text_field_tag(:employer_name) %>
  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, options_for_select([['All Users', 0], ['Saved List 01', 1], ['Saved List 02', 2]], 0)) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
