<%= form_tag("/report/show", method:"post") do %>
  <h3>Report by Date Entered</h3>
  <p>Make a list of users by when they have entered the system.</p>
  <%= hidden_field_tag(:report_id, 1) %>
  <%= hidden_field_tag(:report_name, "Date Entered") %>
  <%= label_tag(:month_entered, 'Month entered:') %>
  <%= select_month(1, field_name: 'month_entered', use_short_month: true) %>
  <%= label_tag(:year_entered, 'Year entered:') %>
  <%= select_year(Date.today, field_name: 'year_entered', start_year: Date.today.year, end_year: 2014) %>
  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, (options_from_collection_for_select(SavedList.where("login_id = ?", session[:user_id]), :id, :list_name))) %>
  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
