<h1>Report</h1>
<p>Select the report you would like to run.</p>
<%= form_tag("/report/show", method:"post") do %>
  <script type="text/javascript">

    function hide_all_divs()
    {
      for(var i = 1; i <= 6; i++)
      {
        var div_to_hide = "report_type_form_" + i;
        document.getElementById(div_to_hide).style.display = "none";
      }
    }

    function onchange_report_type_handler()
    {
      hide_all_divs();
      var div_to_show = "report_type_form_" + document.getElementById('report_type').value;
      document.getElementById(div_to_show).style.display = "block";
    }
  </script>
  <%= label_tag(:report_type, 'Report by:') %>
  <%= select_tag(:report_type, options_for_select([['Choose Report Type', 0], ['Date Entered', 1], ['Graduation Year', 2], ['Graduate Degree Program', 3], ["Employeer Name", 4], ["Survey Taken", 5], ["User Giving Back", 6]], 0), :onchange => "onchange_report_type_handler()")%>

  <div id="report_type_form_1" style="display: none;">
    <%= render partial: 'report/form_date_entered' %>
  </div>
  <div id="report_type_form_2" style="display: none;">
    <%= render partial: 'report/form_grad_class_year' %>
  </div>
  <div id="report_type_form_3" style="display: none;">
    <%= render partial: 'report/form_grad_degree_program' %>
  </div>
  <div id="report_type_form_4" style="display: none;">
    <%= render partial: 'report/form_employer_name' %>
  </div>
  <div id="report_type_form_5" style="display: none;">
    <%= render partial: 'report/form_report_survey_taken' %>
  </div>
  <div id="report_type_form_6" style="display: none;">
    <%= render partial: 'report/form_users_giving_back' %>
  </div>
<% end %>
