<% # created by Joe and Tim, edited by Max %>
<% @vcenter = true %>
<div class="row">
  <div class="large-4 medium-6 small-centered columns">
    <div class="panel clearfix">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.text_field :logon, :placeholder => 'Username', autofocus: true %>
        <%= f.password_field :password, :placeholder => 'Password', autocomplete: "off" %>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="action">
          <%= f.submit 'Log in', :class => 'button expand', :type => 'submit' %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
<span class="photo-credit">photo &copy; Victor Bashorun</span>
