<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="<%= 'active' if params[:controller] == 'survey_admin' %>">
      <%= link_to 'Surveys', survey_admin_index_path %>
    </li>
    <li class="<%= 'active' if current_page?(admin_giving_back_index_path) %>">
      <%= link_to 'Giving Back', admin_giving_back_index_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'report' %>">
      <%= link_to 'Reports', report_index_path %>
    </li>
    <li class="has-dropdown <%= 'active' if params[:controller] == 'logins' %>">
      <a href="#">Profile</a>
      <ul class="dropdown">
		<li>
          	<%= link_to 'My Profile', controller: '/user_profile' %>
		</li>
        <li>
          <%= link_to 'Edit My Profile', edit_login_path(current_login) %>
		</li>
        </li>
        <li>
          <%= link_to 'Manage User Profiles', logins_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
  </ul>
</section>
