<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="<%= 'active' if params[:controller] == 'survey_admin' %>">
      <%= link_to 'Surveys', survey_admin_index_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'admin/giving_backs' %>">
      <%= link_to 'Giving Back', admin_giving_backs_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'report' %>">
      <%= link_to 'Reports', report_index_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'saved_lists' %>">
      <%= link_to 'Saved Lists', saved_lists_index_path %>
    </li>
    <li class="has-dropdown <%= 'active' if ['admin/logins', 'user'].include? params[:controller] %>">
      <a href="#">Profile</a>
      <ul class="dropdown">
        <li>
          	<%= link_to 'My Profile', user_index_path %>
        </li>
       <li>
          <%= link_to 'Edit My Profile', edit_admin_login_path(current_login) %>
        </li>
        <li>
          <%= link_to 'Manage Accounts', admin_logins_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to 'Search Admin', controller: '/searchadmins', :class => 'navbar-link' %>
    </li>
  </ul>
</section>
