<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li>
      <%= link_to "Login", new_login_session_path %>
    </li>
  </ul>

  <ul class="left">
    <li class="has-dropdown">
      <a href="#">Page Links</a>
      <ul class="dropdown">
        <li>
          <%= link_to 'DB stuff', controller: '/brad' %>
        </li>
        <li>
          <%= link_to 'Gem stuff', controller: '/brett' %>
        </li>
        <li>
          <%= link_to 'Login Manager', controller: '/logins' %>
        </li>
        <li>
          <%= link_to 'Report', controller: '/report' %>
        </li>
        <li>
          <%= link_to 'Surveys', controller: '/survey' %>
        </li>
        <li>
          <%= link_to 'Giving Back', controller: 'admin/giving_back' %>
        </li>
      </ul>
  </ul>
</section>
