<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="has-dropdown <%= 'active' if current_page?(new_giving_back_path) %>">
      <a href="#">Give Back</a>
      <ul class="dropdown">
        <li><%= link_to 'Internship', new_giving_back_path('internship') %></li>
        <li><%= link_to 'Mentoring', new_giving_back_path('mentoring') %></li>
        <li><%= link_to 'Guest Speaking', new_giving_back_path('guest_speaking') %></li>
        <li><%= link_to 'Other', new_giving_back_path('other') %></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#">Profile</a>
      <ul class="dropdown">
        <li>
          <a href="#">View My Profile</a>
        </li>
        <li>
          <%= link_to 'Edit My Profile', edit_login_registration_path %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#">Profile</a>
      <ul class="dropdown">
        <li>
          <a href="#">View</a>
        </li>
        <li>
          <%= link_to 'Edit', edit_login_registration_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
  </ul>
</section>
