<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="<%= 'active' if params[:controller] == 'survey' %>">
      <%= link_to 'Surveys', survey_index_path %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'internships' %>">
      <%= link_to 'Internships', internships_path %>
    </li>
    <li class="has-dropdown <%= 'active' if params[:controller] == 'giving_backs' %>">
      <a href="#">Give Back</a>
      <ul class="dropdown">
        <li><%= link_to 'Internship', new_giving_back_path('internship') %></li>
        <li><%= link_to 'Mentoring', new_giving_back_path('mentoring') %></li>
        <li><%= link_to 'Guest Speaking', new_giving_back_path('guest_speaking') %></li>
        <li><%= link_to 'Other', new_giving_back_path('other') %></li>
      </ul>
    </li>
    <li class="has-dropdown <%= 'active' if params[:controller] == 'user' %>">
      <a href="#">Profile</a>
      <ul class="dropdown">
        <li>
          <%= link_to 'My Profile', user_index_path %>
        </li>
        <li>
          <%= link_to 'Edit', edit_user_path(current_login.user) %>
        </li>
        <li>
          <%= link_to "Logout", destroy_login_session_path, method: :delete  %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to 'Search User', controller: 'searchusers', :class => 'navbar-link' %>
    </li>
  </ul>
</section>
