<div class="row nested-fields">
  <div class="medium-2 columns">
    <% f.object.build_college unless f.object.college %>
    <%= f.fields_for :college do |f_college| %>
      <%= f_college.label :college_name %>
      <%= f_college.text_field :college_name %>
    <% end %>
  </div>
  <div class="medium-2 columns">
    <% f.object.build_degree unless f.object.degree %>
    <%= f.fields_for :degree do |f_degree| %>
      <%= f_degree.label :major_name %>
      <%= f_degree.text_field :major_name %>
    </div>

    <div class="medium-3 columns">
      <%= f_degree.label :type, 'Degree' %>
      <%= f_degree.select :type, Degree.graduate_types.map { |w,| [Degree.humanize_type(w), w] } %>
    <% end %>
  </div>

  <div class="medium-2 columns">
    <%= f.label :status %>
    <%= f.select :status, GraduateDegree.statuses.map { |w,| [w.humanize, w] } %>
  </div>

  <div class="medium-2 columns">
    <%= f.label :graduation_date %>
    <%= f.text_field :graduation_date %>
  </div>

  <div class="medium-1 columns">
    <%= link_to_remove_association 'remove degree', f %>
  </div>
</div>
