<% # Made by Tim and Joe %>
<div class="row">
  <div class="large-3 columns">
    <div class="panel">
      <img src="http://placehold.it/500x500&text=Image"> 
      <h5><%= @user.login.full_name %></h5>
      <%= mail_to @user.login.try(:email) %>
    </div>
  </div>

  <div class="large-9 columns">
    <div class="panel">
      <div class="clearfix">
        <ul class="left tabs" data-tab role="tablist">
          <li class="tab-title active" role="presentational"><a href="#Contact" role="tab" tabindex="0" aria-selected="true" controls="information">Contact</a></li>
		  <li class="tab-title" role="presentational"><a href="#Personal" role="tab" tabindex="0" aria-selected="false" controls="survey">Personal</a></li>
          <li class="tab-title" role="presentational"><a href="#employer" role="tab" tabindex="0"aria-selected="false" controls="employer">Employer</a></li>
          <li class="tab-title" role="presentational"><a href="#survey" role="tab" tabindex="0" aria-selected="false" controls="survey">Survey</a></li>
        </ul>
        <% if current_login.authorized_to_edit_profile? @user.id %><%= link_to 'Edit', edit_user_path(@user), class: 'small right button' %><% end %>
      </div>
      <div class="tabs-content">
	  
        <section role="tabpanel" aria-hidden="false" class="content active" id="Contact">
          <p>
          <h3> Contact Information </h3> 
		  <%= @user.login.full_name.camelize %> <br>
          <%= @user.login.try(:email)%> <br>
		  <%= @user.try(:street)%> <br>
		  <%= @user.try(:city)%>, <%= @user.try(:zip)%> <br>
			<hr>
		<% @user.user_phones.each do |f| %>
		<% f.country_code %>
		<% f.area_code %> 
		<% f.prefix %> <% f.suffix %>
		<% end %>
          </p>
        </section>
		
		<section role="tabpanel" aria-hidden="true" class="content" id="Personal">
          
        </section>

        <section role="tabpanel" aria-hidden="true" class="content" id="employer">
          <p>
          <h4>Employer info</h4>
          <strong>Company: </strong><%= @user.try(:company).try(:company_name)%><br>
          <strong>City, State: </strong><%= @user.company.company_info.try(:city)%>, <%= @user.company.company_info.try(:state)%> <br>
		  <% @user.company.company_info.street %>
		  <% @user.company.company_info.city %>
		  <% @user.company.company_info.state%>,
		  <% @user.company.company_info.zip %>
		   <br>
			<% @user.company.company_info.country_code %>
			<% @user.company.company_info.area_code %>
			<% @user.company.company_info.prefix%>
			<% @user.company.company_info.suffix %>
          </p>
        </section>

        <section role="tabpanel" aria-hidden="true" class="content" id="survey">
          <h2>Surveys</h2>
        </section>
      </div>
    </div>
  </div>
</div>
