<h1>Create a new Survey</h1>

<%= form_for :survey, url: survey_admin_index_path do |f| %>

<p>
  <%= f.label :survey_name %><br>
  <%= f.text_field :survey_name %>

</p>
<p>

  <%= f.label :survey_description %><br>
  <%= f.text_field :survey_description %>

  <p>
  <%= f.label :date_created %><br>
  <%= f.date_field :date_created, value: Date.today%>
</p>
<p>
  <%= f.label :status %> <br>
  <%= f.text_field :status, value: "new" %>



</p>
  <%= f.submit %>
<% end %>
