<div class="row">
  <div class="large-12 columns">
  <h1>Create a New Survey</h1>

<%= form_for :survey, url: survey_admin_index_path do |f| %>

<p>
  <%= f.label :survey_name %><br>
  <%= f.text_field :survey_name %>

</p>
<p>

  <%= f.label :survey_description %><br>
  <%= f.text_field :survey_description %>

  <p>

  <%= f.hidden_field :date_created, value: Date.today%>
</p>
<p>

  <%= f.hidden_field :status, value: "unpublished" %>



</p>
  <%= f.submit %>
<% end %>
  </div>
  </div>
