<div class="row">
  <div class="large-12 columns">
  <h1>Create a New Question</h1>






  
  <%= select_tag(:type, options_for_select([['Select the Type of Question', 0], ['Short Answer', 1], ['Single Choice', 2], ['Multiple Choice',3], ['Multiple Questions',4]], 0), :onchange => "onchange_type_handler()") %>
  <div id="type_form_1" style="display: none;">
    <%= render partial: 'survey_admin/short_answer' %>
  </div>
  <div id="type_form_2" style="display: none;">
    <%= render partial: 'survey_admin/single_choice' %>
  </div>
  <div id="type_form_3" style="display: none;">
    <%= render partial: 'survey_admin/multiple_choice' %>
  </div>
  <div id="type_form_4" style="display: none;">
    <%= render partial: 'survey_admin/multiple_question' %>
  </div>




</p>




  </div>
  </div>
