<% # Author: Maxwell Barvian %>
<div class="opportunity panel radius" data-expandable>
  <div class="pack pack-middle">
    <%= link_to giving_back.user, class: 'pack-item opportunity-avatar' do %>
      <img src="http://placehold.it/300x300" alt="User avatar" />
    <% end %>
    <div class="pack-item">
      <% unless giving_back.internship? %>
        <h5><%= giving_back.subject %></h5>
      <% else %>
        <h5><%= giving_back.position %></h5>
      <% end %>
      <% if giving_back.internship? %><span class="opportunity-company"><%= giving_back.company.company_name %></span><% end %>
      <time pubdate datetime="<%= giving_back.created_at.to_formatted_s(:pubdate) %>" class="opportunity-date"><%= giving_back.created_at.to_formatted_s(:human) %></span>
    </div>
    <div class="pack-item opportunity-type">
      <i class="fi-<%= icon_for_giving_back_type giving_back.type %> opportunity-type-icon"></i>
      <span class="opportunity-type-label"><%= humanize_giving_back_type giving_back.type %></span>
    </div>
    <% unless giving_back.completed? %>
      <div class="pack-item pack-shrink">
        <ul class="button-group opportunity-actions">
          <% if giving_back.hidden? %>
            <li>
              <%= link_to admin_giving_back_path(giving_back),
                method: :delete,
                title: 'Delete',
                data: { confirm: 'Are you sure you want to permanently delete this opportunity?' },
                class: 'tiny alert icon button' do %>
                <i class="fi-x large"></i>
              <% end %>
            </li>
            <li>
              <%= link_to admin_giving_back_path(
                  giving_back,
                  giving_back: { hidden: false }
                ),
                method: :put,
                title: 'Put back',
                class: 'tiny icon button' do %>
                <i class="fi-refresh large"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to admin_giving_back_path(
                  giving_back,
                  giving_back: { hidden: true }
                ),
                method: :put,
                title: 'Archive',
                class: 'tiny icon button' do %>
                <i class="fi-archive large"></i>
              <% end %>
            </li>

            <% if giving_back.internship? && !giving_back.approved? %>
              <li>
                <%= link_to admin_giving_back_path(
                    giving_back,
                    giving_back: { approved: true }
                  ),
                  method: :put,
                  data: { confirm: 'Are you sure you want to approve this internship?' },
                  title: 'Approve',
                  class: 'tiny success icon button' do %>
                  <i class="fi-like large"></i>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to admin_giving_back_path(
                    giving_back,
                    giving_back: { completed: true }
                  ),
                  method: :put,
                  data: { confirm: 'Are you sure you want to mark this opportunity as completed?' },
                  title: 'Mark as complete',
                  class: 'tiny success icon button' do %>
                  <i class="fi-check large"></i>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="expand">
    <p class="opportunity-description"><%= giving_back.description %></p>
    <% if giving_back.internship? %>
      <hr />
      <h6>Requirements</h6>
      <p class="opportunity-requirements"><%= giving_back.requirements %></p>
    <% end %>
    <hr />
    <h6>Contact</h6>
    <p class="opportunity-contact">
      <%= giving_back.contact_full_name %><br />
      <%= mail_to giving_back.contact_email %>
    </p>
  </div>
</div>
