<!-- Created by Tim Schneider -->
<h1>Manage Profile</h1>
<div class="panel" >
<div class="panel-body" style="min-height: 10; max-height: 10;">
	<ul class="tabs" data-tab role="tablist">
		<li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Login</a></li>
		<li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Personal</a></li>
		<li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Education</a></li>
		<li class="tab-title" role="presentational"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4">Career</a></li>
	</ul>

<div class="tabs-content">
<br>

	<!--  Login Section  -->
	<section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
	<%= form_tag({controller: "user_profile", action: "update_login"}, method: "post") do  %>

	<div class="medium-3 columns">

	<p>

	<%= label :login, :email %>
	<%= text_field :login, :email %>

	<%= label :login, :first_name %>
	<%= text_field :login, :first_name %>

	<%= label :login, :middle_initial %>
	<%= text_field :login, :middle_initial %>

	<%= label :login, :last_name %>
	<%= text_field :login, :last_name %>

	<%= label :login, :username %>
	<%= text_field :login, :username %>

	<%= label :login, :password %>
	<%= text_field :login, :password %>

	<%= submit_tag("Submit", class: "button") %>
	</p>
	</div>

	<% end %>
	</section>


	<!--  User Section  -->

	<section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
	<%= form_tag({controller: "user_profile", action: "update_user"}, method: "post") do  %>
	<div class="medium-3 columns">

	<%= label :user, :street %>
	<%= text_field :user, :street %>

	<%= label :user, :city %>
	<%= text_field :user, :city %>

	<%= label :user, :state %>
	<%= text_field :user, :state %>

	<%= label :user, :zip %>
	<%= text_field :user, :zip %>

	<%= label :user, :Spouse_First_Name %>
	<%= text_field :user, :spouse_first_name %>

	<%= label :user, :spouse_middle_initial %>
	<%= text_field :user, :spouse_middle_initial %>

	<%= label :user, :spouse_last_name %>
	<%= text_field :user, :spouse_last_name %>

	<%= submit_tag("Submit", class: "button") %>
	</div>
	<div class="medium-3 columns">

	<%= label :user, :number_of_children %>
	<%= text_field :user, :number_children %>

	<%= label :user, :birth_month %>
	<%= text_field :user, :birth_day %>

	<%= label :user, :birth_year %>
	<%= text_field :user, :birth_year %>

	<%= label :user, :ethnicity %>
	<%= text_field :user, :ethnicity %>

	<%= label :user, :status %>
	<%= select_tag :status, options_for_select(['Currently Enrolled', 'Alumni']) %>

	<%= label :user, :salary_range %>
	<%= text_field :user, :salary_range %>

	<%= label :user, :job_title %>
	<%= text_field :user, :job_title %>

	</div>

	<div class="medium-3 columns">
	<%= label :user, :start_date %>
	<%= text_field :user, :start_date %>

	<%= label :user_phone, :area_code %>
	<%= text_field :user_phone, :area_code %>

	<%= label :user_phone, :prefix %>
	<%= text_field :user_phone, :prefix %>

	<%= label :user_phone, :suffix %>
	<%= text_field :user_phone, :suffix %>

	<%= label :user_phone, :extension %>
	<%= text_field :user_phone, :extension %>

	<%= label :user_phone, :extension_type %>
	<%= select_tag :extension_type, options_for_select([['Home' , '0'], ['Work', '1'], ['Mobile' , '2']]) %>
	</div>

	<div class="medium-3 columns">
	</div>
	<% end %>
	</section>

	<!--  Education Section  -->
	<section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
	<%= form_tag do %>
		<div class="medium-2 columns">
			<%= label :colleges, :college %>
			<%= text_field :colleges, :college_name %>
			<%= submit_tag("Submit", class: "button") %>
		</div>
			<div class="medium-2 columns">
			<%= label :degree, :major %>
			<%= text_field :degree, :major_name %>
		</div>

		<div class="medium-2 columns">
			<%= label :degree, :Degree_type%>
			<%= select_tag :degree_type, options_for_select(
				['Associate of Arts (A.A)',
				'Associate of Science (A.S.)',
				'Bachelor of Arts (B.A.)',
				'Bachelor of Science (B.S)',
				'Master of Arts (M.A.)',
				'Master of Science (M.S.)',
				'Doctoral (Ph.D.)',
				'Medical Doctor (M.D.)']
				) %>
		</div>

		<div class="medium-2 columns">
			<%= label :degree, :major_name %>
			<%= text_field :degree, :major_name %>
		</div>

		<div class="medium-2 columns">
			<%= label :degree, :graduation_date %>
			<%= text_field :degree, :graduation_date %>
		</div>

		<div class="medium-2 columns">

		</div>



	<% end %>
	</section>

	<!--  Career Section -->
	<section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
	<%= form_tag do %>
	<div class="medium-3 columns">
		<%= label :companys, :company_name %>
		<%= text_field :companys, :company_name %>

		<%= label :company_infos, :street %>
		<%= text_field :company_infos, :company_street %>

		<%= label :company_infos, :city %>
		<%= text_field :company_infos, :company_city %>

		<%= label :company_infos, :state %>
		<%= text_field :company_infos, :company_state %>

		<%= label :company_infos, :zip %>
		<%= text_field :company_infos, :company_zip %>

		<%= submit_tag("Submit", class: "button") %>

		</div>
		<div class="medium-3 columns">
		<%= label :company_infos, :county_code %>
		<%= text_field :company_infos, :company_country_code %>

		<%= label :company_infos, :area_code %>
		<%= text_field :company_infos, :company_area_code %>

		<%= label :company_infos, :prefix %>
		<%= text_field :company_infos, :company_prefix %>

		<%= label :company_infos, :suffix %>
		<%= text_field :company_infos, :company_suffiz %>
				</div>
		<div class="medium-9 columns">
	</div>
	<% end %>


	</section>
	</div>
	</div>
</div>
