<!-- Made by Tim and Joe -->

<div class="row">
	
	<div class="large-3 panel columns">
          <img src="http://placehold.it/500x500&text=Image">
          <h4><%=current_login.first_name%> <%=current_login.last_name%></h4>
     
		  <div class="columns">
			<%= current_login.email%>
			<hr>
			<%= link_to '  Manage Profile', 'user_profile/edit' %>
		  </div>

	</div>
		
	<div class="large-9 columns">
		<div class="panel">
	
			<ul class="tabs" data-tab role="tablist">
			  <li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Information</a></li>
			  <li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Employer</a></li>
			  <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Survey</a></li>
			</ul>
	
				<div class="tabs-content">
					<section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
						<p>
						<h3> Alumni of North Central College </h3> 
						<%=current_login.email%> <br> 
						<h4>Degrees</h4> <br>
						<br>
						Degree Earned <br>
						Institution <br>
						Year <br>
						</p>z
					</section>
	  
	  
					<section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
						<p>
						<h4>Employer info</h4>
						<strong>Company: </strong><%= @company.try(:company_name)%><br>
						<strong>City, State: </strong><%= @company_info.try(:city)%><%= @company_info.try(:state)%> <br>
						</p>
					</section>
	  
	  
					<section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
						<h2>Surveys</h2>
					</section>
				</div>
	</div>
 </div>



